:root {
    --background-color-main: #222A36;
    --main-color-theme: #F44A4B;
}

body {
    background-color: var(--background-color-main);
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

input:focus {
    outline: var(--main-color-theme) !important;
    border: 2px solid var(--main-color-theme) !important;
}

.game-title {
    color: var(--main-color-theme);
}



.album-cover-section {}

.album-cover-image {
    width: 40%;
}

.song-title {
    font-size: 2.5rem;
    margin: 0px;
    color: var(--main-color-theme);
}

.title-section{
    text-align: center;
    width: 400px;
    margin: 0px auto;
}

.guess-section{
    height: 40px;
    width: 400px;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--background-color-main);
    border: 2px solid var(--main-color-theme);
    /* text-decoration-color: cyan; */
    color: white;
    caret-color: white;
    padding: 8px 0px;
    border-radius: 5px;
}



.start-lyrics {
    display: inline-flex;
    width: fit-content;
    margin-right: 10px;
}

/* .input-word {
    height: 1.5rem;
    display: inline-flex;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid var(--main-color-theme);
    background-color: var(--background-color-main);
    margin-right: 10px;
    color: white;
}

.input-word:focus {
} */

.lyrics-section {
    /* display: inline; */
    margin: 0 auto;
    width: 500px;
}

.lyric-section{

}

.lyric-words{
    display: inline-flex;
}


input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  background-color: var(--background-color-main);
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 400px;
  margin: 0px auto;
  position: absolute;
}

.suggestions li {
  padding: 0.5rem;
  min-height: 30px;
  font-size: 1rem;
  line-height: 40px;

}

.suggestion-active,
.suggestions li:hover {
  background-color: var(--main-color-theme);
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}




/* phone screens */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {


    .pixel-album-image {
        width: 90%;
    }

    .title-section{
        width: 100%;
    }

    .guess-section{
        width: 90%;
    }

    .suggestions{
        width: 85%;
    }
    .suggestionsWrapper {
      width: 90%;
    }
  
    .autocompleteWrapper {
      width: 90%;
      margin: 0 auto;
    }

    .lyrics-section{
        width: 100%;
    }
}