:root {
    --background-color-main: #222A36;
    --main-color-theme: #F44A4B;
}

body {
    background-color: var(--background-color-main);
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.spacer {
    height: 20px;
}

input:focus {
    outline: var(--main-color-theme) !important;
    border: 2px solid var(--main-color-theme) !important;
}

.game-title {
    color: var(--main-color-theme);
}

.header {
    overflow: hidden;
    position: relative;
    width: 500px;
    margin: 0px auto;
}

.game-title {
    font-size: 45px;
    display: flex;
    margin: 0px auto;
}

.right {
    top: 10%;
    right: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.right-top-div {
    display: flex;
}

.top-button-image {
    width: 15px;
}

.top-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--main-color-theme);
}

.btn-space {
    width: 4px;
    height: auto;
    display: inline-block;
}


.album-cover-image {
    width: 40%;
}

.ans-light-right {
    border: 8px solid green;
}

.ans-light-wrong {
    border: 8px solid red;
}

.ans-light-guessing {
    border: 4px solid var(gray);
}

.song-title {
    font-size: 2.5rem;
    margin: 0px;
    color: var(--main-color-theme);
}

.title-section {
    text-align: center;
    width: 400px;
    margin: 0px auto;
}

.guess-section {
    height: 40px;
    width: 400px;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--background-color-main);
    border: 2px solid var(--main-color-theme);
    /* text-decoration-color: cyan; */
    color: white;
    caret-color: transparent;
    padding: 8px 0px;
    border-radius: 5px;
}



.start-lyrics {
    display: inline-flex;
    width: fit-content;
    margin-right: 10px;
}

/* .input-word {
    height: 1.5rem;
    display: inline-flex;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid var(--main-color-theme);
    background-color: var(--background-color-main);
    margin-right: 10px;
    color: white;
}

.input-word:focus {
} */

.lyrics-section {
    /* display: inline; */
    margin: 0 auto;
    width: 500px;
}

.lyric-words {
    display: inline-flex;
}


input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    background-color: var(--background-color-main);
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 400px;
    margin: 0px auto;
    position: absolute;
}

.suggestions li {
    padding: 0.5rem;
    min-height: 30px;
    font-size: 1rem;
    line-height: 40px;

}

.suggestion-active,
.suggestions li:hover {
    background-color: var(--main-color-theme);
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}




/* phone screens */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    h2 {
        font-size: 1.5rem;
    }
    .top-button {
        width: 50px;
        height: 50px;
    }

    .top-button-image {
        height: 12px;
        width: 12px;
        display: flex;
        justify-content: center;
    }

    .header {
        width: 90%;
        height: 70px;
    }

    .pixel-album-image {
        width: 90%;
    }

    .title-section {
        width: 100%;
    }

    .guess-section {
        width: 90%;
    }

    .suggestions {
        width: 90%;
    }

    .suggestionsWrapper {
        width: 90%;
    }

    .autocompleteWrapper {
        width: 90%;
        margin: 0 auto;
    }

    .lyrics-section {
        width: 90%;
    }
}